* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  padding: 16px 0px;
}
